*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: linear-gradient(to bottom right, #cc99cc 0%, #6666ff 100%);
}

.fon{
    width: 700px;
    background: #339999;
    padding: 32px;
    margin: auto;
    margin-top: 17px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #000000;
    box-shadow: 9px 15px 40px #000;
} 
.sub{
    font-family: unset;
    font-size: 25px;
    margin-bottom: 25px;
    color: rgb(255, 0, 0);
}
.nom{
    font-size: 17px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}
.selec{
    font-size: 17px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.cuadro{
    width: 70%;
    background: #000000;
    padding: 9px;
    border-radius: 20px;
    margin-left: 12%;
    margin-bottom: 10px;
    border: 5px solid #ff9933;
    color: white;
    font-family: 'calibri';
    font-size: 15px;
}
.condiciones{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.fondo a:hover {
    color: rgb(145, 141, 141);
    text-decoration: underline;
}
.enviar .buttoms{
    width: 45%;
    background: #16559c;
    border: none;
    padding: 12px;
    color: white;
    margin: 12px 2px;
}